*/.ok
*/distribute-*.tar.gz
*.zip
erlang/amqp_client*
erlang/rabbit_common*
python/venv
dotnet/*.exe
dotnet/lib
java/*.class
java/*.jar
java/rabbitmq-java-client-bin*
javascript-nodejs/node_modules
php/lib/
python-puka/venv
ruby*/gems/
venv/*
ruby*/rubygems*

java*/.idea/workspace.xml
java*/.idea/encodings.xml
*~

.vscode/
obj/
bin/
