{erl_opts, [debug_info]}.
{deps, [
    {amqp_client, "3.12.2"},
    {uuid, {git, "https://github.com/okeuday/uuid.git", {tag, "v2.0.7"}}}
]}.

{plugins, [rebar_alias]}.

{alias, [
    {send, [compile, {shell,
         "--eval 'send:start(), init:stop().'"}]},
    {recv, [compile, {shell,
         "--eval 'recv:start(), init:stop().'"}]},
    {new_task, [compile, {shell,
         "--eval 'new_task:start([\"A very hard task which takes two seconds\"]), init:stop().'"}]},
    {worker, [compile, {shell,
         "--eval 'worker:start(), init:stop().'"}]},
    {receive_logs, [compile,
         {shell, "--eval 'receive_logs:start(), init:stop().'"}]},
    {emit_log, [compile, {shell,
         "--eval 'emit_log:start([\"Info: This is the log message\"]), init:stop().'"}]},
    {receive_logs_direct, [compile, {shell,
         "--eval 'receive_logs_direct:start([\"Info\"]), init:stop().'"}]},
    {emit_log_direct, [compile, {shell,
         "--eval 'emit_log_direct:start([\"Info\", \"Hello\"]), init:stop().'"}]},
    {receive_logs_topic, [compile, {shell,
         "--eval 'receive_logs_topic:start([\"*.rabbit\"]), init:stop().'"}]},
    {emit_log_topic, [compile, {shell,
         "--eval 'emit_log_topic:start([\"red.rabbit\", \"Hello\"]), init:stop().'"}]},
    {rpc_server, [compile, {shell,
         "--eval 'rpc_server:start(), init:stop().'"}]},
    {rpc_client, [compile, {shell,
         "--eval 'rpc_client:start([\"10\"]), init:stop().'"}]}
]}.