# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Auto detect text files and perform LF normalization
*.cs text=auto eol=lf
*.txt text=auto

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.csproj text eol=crlf

# Custom for Visual Studio
*.cs     diff=csharp

